.BooksLists {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
/* 책들간의 간격을 위해 */

.book_image_container {
}

/*책 이미지 정렬*/

.RecommandBooks {
  height: 100%;

  background-color: white;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */

  overflow-y: hidden;
}

.BooksDiv .introHeader {
  font-size: x-large;
  text-align: center;
  padding: 10px;
}

.singleBook {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 200px;
  height: 100%;

  text-decoration-line: none;
  border: #beadfa;
  border-style: dotted;

  display: flex; /* 요소를 가로로 정렬하기 위해 Flexbox 레이아웃을 사용 */
  flex: 1 1 0;
}

.RecommandBooks {
  background-color: rgb(255, 243, 218);
  overflow-x: scroll;
}

.thumbs {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thumbs > * {
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.thumbs #up :hover {
  border-color: red;
}
