html {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(242, 252, 252);
}

main {
  position: relative;
  padding-top: 75px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* select Form */
.select-template {
  /* margin-top: 75px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.select-template > div {
  padding: 20px;
}

.select-template > button {
  /* bottom: 30; */
}

.select-template > div > input {
  width: 100%;
}

.select-template > div > select {
  width: 100%;
}

.select-template > .gender-select {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
}

.department {
  height: 40%;
}

.departement-ex {
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
}

ul {
  display: block;
}

button {
  color: var(--bs-blue);
}

a {
  text-decoration-line: none;
  color: black;
}

.header {
  z-index: 10;
  /* position: sticky; */
  position: fixed;
  top: 0;
  /* width: 100vw; */
  box-sizing: border-box;

  backdrop-filter: blur(5px);
  background-color: var(--bs-blue);
}

nav {
  width: 100%;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* 드롭다운 css 사용안함 */
.dropDown:nth-child(1) {
  background-color: red;
}

.dropDown_list {
  display: flex;
  flex-direction: column;
}

.RecommandBooks {
  height: 100%;

  background-color: white;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}

.book_content_cotainer {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
/* 책들간의 간격을 위해 */

.swiper {
  position: sticky;
}
/* @media screen and (max-width: 1024px) {
  .tab_content {
    padding: 0 24px;
  }
} */
