@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* html, */
body {
  margin: 0;
  padding: 0;

  /* width: 100%;  */
  /* height: 100%;
  /* overflow-x: hidden; */
  /* 수평 스크롤 방지 */
}

/* 내가 지정 */
.mt-500 {
  margin-top: 75px;
}

.test_ui {
  background-color: var(--bs-blue);
  border: solid mintcream 10px;
  height: 500px;
}

body {
  background-color: #f9f3cc;
  /* padding-top: 75px; */
  /*헤더를 위 */
}

ul {
  display: block;
}

button {
  color: var(--bs-blue);
}

a {
  text-decoration-line: none;
  color: black;
}

/* font size 고정해놓음 */
.ui {
  background-color: rgb(174, 222, 252);
  color: black;
  border-radius: 5px;
  border-style: none;
  width: 100px;
  text-align: center;

  display: flex;
  height: fit-content;

  font-size: 20px;

  justify-content: center;
  align-items: center;
}

.header {
  z-index: 10;
  /* position: sticky; */
  position: fixed;
  top: 0;
  /* width: 100vw; */
  box-sizing: border-box;

  backdrop-filter: blur(5px);
  background-color: var(--bs-blue);
}

.header_test {
  position: fixed;
  top: 0;
  height: 300px;
  backdrop-filter: blur(5px);
  background-color: rgba(134, 182, 246, 0.7);
}

.singleBook {
  width: 30%;
  box-sizing: content-box;
  /* pa */
}

nav {
  width: 100%;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: inline-block;
}

/*nav list */
ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* 구분을 위한 디자인 */
.header-wrapper {
  /* border-style: dotted; */
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.dropDown:nth-child(1) {
  background-color: red;
}

.dropDown_list {
  display: flex;
  flex-direction: column;
}

.RecommandBooks {
  height: 100%;

  background-color: white;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}

.book_content_cotainer {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
/* 책들간의 간격을 위해 */

.swiper {
  position: sticky;
}
/* @media screen and (max-width: 1024px) {
  .tab_content {
    padding: 0 24px;
  }
} */
